.App {
  text-align: center;
}

.App-logo {
  height: 90%;
  box-shadow: -2px 2px 2px 1px rgba(57, 57, 57, 0.5);
  transition-duration: 0.3s;
  border-radius: 5px;
}
.App-logo:hover {
  box-shadow: -2px 2px 4px 3px rgba(57, 57, 57, 0.5);
  transform: scale(1.02)
}

.App-header {
  background-color: #fff;
  height: 70vh;
  padding: 20px;
  color: white;
  transition-duration: 0.3s;
}

.App-title {
  font-size: 1.5rem;
}

.App-intro {
  font-size: large;
}

button {
  height: 3rem;
  font-size: 2rem;
  line-height: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: -2px 2px 2px 1px rgba(57, 57, 57, 0.5);
  transition-duration: 0.3s;
}
button:hover {
  box-shadow: -2px 2px 4px 3px rgba(57, 57, 57, 0.5);
  transform: scale(1.02)
}